@charset "UTF-8";
/*Général*/
html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

/*Logo*/
/*Navbar & Manual*/
#head-logo {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.head-wrap {
  display: flex;
  flex-flow: wrap column;
}

.nav-localisation {
  background-color: #eaeaea;
}

.acc-manual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  font-size: 0.8em;
}

.acc-manual__pill {
  position: relative;
  background-color: #f6f6f6;
  width: 80%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.number {
  position: absolute;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.btn-violet {
  text-align: center;
  width: 15em;
  height: 2em;
  border-radius: 20px/20px;
  color: white;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
}

.btn-violet p {
  vertical-align: middle;
}

/*Cards Restaurant*/
.acc-restaurant {
  display: flex;
  flex-flow: row wrap;
}

.acc-restaurant__card {
  width: 20em;
  height: 190px;
  margin: 1.5em;
  padding: 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px/20px;
  border: 4px solid white;
  border: 4px solid white;
}

.acc-restaurant__card--img {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  padding: 0;
}

.acc-restaurant__card--img__newLogo {
  position: absolute;
  top: 2em;
  left: 19em;
}

/*Menus*/
/*Footer*/
/**************************************/
@media screen and (max-width: 768px) {
  .header {
    margin: 100em;
  }
}
