@charset "UTF-8";
/************************************************************
************************************************************
************************************************************
Général
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 768px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", sans-serif;
}

/************************************************************
************************************************************
************************************************************
Logo
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.titre-restaurant {
  font-family: Shrikhand;
}

/************************************************************
************************************************************
************************************************************
Navbar & Manual
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
#head-logo {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px;
}

.head-wrap {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-localisation {
  background-color: #eaeaea;
  height: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.nav-localisation__search {
  border: none;
  background-color: #eaeaea;
  color: black;
}

.nav-explore {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.acc-manual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  font-size: 0.8em;
}

.acc-manual__pill {
  display: flex;
  padding-left: 2em;
  align-items: baseline;
  position: relative;
  background-color: #f6f6f6;
  width: 80%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.acc-manual__pill__number {
  position: absolute;
  left: 0;
  top: 12px;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.acc-manual__pill > i {
  color: grey;
  padding-right: 1em;
}

.acc-manual__pill > .fa-store {
  color: #9356dc;
}

.btn-violet {
  text-align: center;
  width: 15em;
  height: 2em;
  border-radius: 20px/20px;
  color: white;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
}

.btn-violet p {
  display: inline;
  vertical-align: middle;
}

.titre {
  margin-left: 1em;
}

.titre__restaurant {
  margin-bottom: -2em;
}

/************************************************************
************************************************************
************************************************************
Cards Restaurant
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.acc-restaurant {
  display: flex;
  flex-flow: row wrap;
}

.acc-restaurant__card {
  width: 20em;
  height: 250px;
  margin: 1em;
  padding: 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px/20px;
  position: relative;
}

.acc-restaurant__card__description {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  padding-left: 1em;
}

.acc-restaurant__card__description__coeur {
  height: 100%;
}

.acc-restaurant__card__description > i {
  color: black;
}

.acc-restaurant__card--img {
  display: block;
  margin: 0;
  width: 100%;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  padding: 0;
}

.acc-restaurant__card--img__newLogo {
  position: absolute;
  top: 0em;
  left: 17em;
  background-color: #99e2d0;
  color: #2ac9a1;
  height: 3em;
  width: 6em;
  font-size: small;
  text-align: center;
}

/************************************************************
************************************************************
************************************************************
Menus
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
/************************************************************
************************************************************
************************************************************
Footer
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.pied {
  background-color: #353535;
  display: flex;
  flex-flow: wrap column;
  padding: 2em;
}

.pied--img {
  width: 100px;
  filter: invert(100%);
}

.pied--liste {
  color: white;
  height: 55px;
}

.pied .legal {
  margin-top: 1em;
}

/************************************************************
************************************************************
************************************************************
************************************
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
@media screen and (max-width: 768px) {
  .body {
    font-size: small;
  }
  .header {
    margin: 100em;
  }
}
