@charset "UTF-8";
/************************************************************
************************************************************
************************************************************
Général
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
html,
body {
  background-color: #f6f6f6;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 768px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", sans-serif;
}

/************************************************************
************************************************************
************************************************************
Logo
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.titreRestaurant {
  font-family: "Shrikhand", sans-serif;
}

/************************************************************
************************************************************
************************************************************
Navbar & Manual
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.loader {
  background: white;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: vanishes 3s forwards;
  z-index: 1;
}

.loader--animation {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356dc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.headWrap {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headWrap--img {
  display: block;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 0;
}

.headLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1;
}

.headLogo--fleche {
  margin-left: 1em;
  text-decoration: none;
}

.headLogo--img {
  width: 100%;
  height: 20px;
}

.headLogo--img.restaurant {
  margin-right: 2em;
}

.navIndex {
  width: 100%;
}

.navLocalisation {
  background-color: #eaeaea;
  height: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.navLocalisation > i {
  padding-right: 1em;
  color: #747474;
}

.navLocalisation__search {
  border: none;
  background-color: #eaeaea;
  color: black;
  padding-left: 1em;
}

.navExplore {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navExplore__container {
  width: 66%;
}

.navExplore__btn {
  width: 15em;
}

.accManual {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  font-size: 0.8em;
}

.accManual__pill {
  display: flex;
  padding-left: 2em;
  align-items: baseline;
  position: relative;
  background-color: #f6f6f6;
  width: 30%;
  border-radius: 15px;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.accManual__pill:hover {
  background-color: #f5edff;
}

.accManual__pill__number {
  position: absolute;
  left: 0;
  top: 12px;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.accManual__pill > i {
  color: grey;
  padding-right: 1em;
}

.accManual__pill > .fa-store {
  color: #9356dc;
}

.btnViolet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2em;
  border-radius: 20px/20px;
  color: white;
  margin-bottom: 1em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
}

.btnViolet:hover {
  cursor: pointer;
  animation: enlightment 0.5s forwards ease-in;
}

.btnViolet p {
  display: inline;
  vertical-align: middle;
}

.btn--commander {
  font-size: 0.9em;
  width: 10em;
}

.titre__restaurant {
  margin-bottom: 0;
}

.titre__manual {
  margin-left: -1em;
}

/************************************************************
************************************************************
************************************************************
Cards Restaurant
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.accRestaurant {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.accRestaurant--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accRestaurant__card {
  width: 20em;
  margin: 1em;
  padding: 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px/20px;
  position: relative;
  transform: scale(1);
  transition: transform 0.4s;
}

.accRestaurant__card:hover {
  transform: scale(1.02);
}

.accRestaurant__card__description {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 1em;
}

.accRestaurant__card__description__texte h4 {
  margin-top: 10px;
  margin-bottom: -10px;
}

.accRestaurant__card__description__texte p {
  margin-bottom: 15px;
}

.accRestaurant__card__description__coeur {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding-right: 1em;
  font-size: 1.3em;
}

.accRestaurant__card__description > i {
  color: black;
}

.accRestaurant__card--img {
  display: block;
  margin: 0;
  width: 100%;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  padding: 0;
}

.accRestaurant__card--img__newLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  left: 17em;
  background-color: #99e2d0;
  color: #008766;
  height: 2.5em;
  width: 6em;
  font-size: small;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/************************************************************
************************************************************
************************************************************
Restaurant's pages
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
/*Head*/
.restaurantHead {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius: 2em;
  z-index: 1;
  background-color: #f6f6f6;
}

.heartIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 5em;
  font-size: 1.3em;
  position: relative;
}

.heartIcon:hover .likedHeart {
  animation: heartfull 2s forwards;
}

.heartIcon:hover .unlikedHeart {
  opacity: 0;
}

.unlikedHeart {
  position: absolute;
}

.likedHeart {
  color: #9356dc;
  position: absolute;
  opacity: 0;
}

/*Cards*/
.restaurantMain {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -3em;
  position: relative;
}

.restaurantMenu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.restaurantMenu__container {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
}

.restaurantMenu__container--titre span {
  display: inline-block;
  margin-bottom: -3px;
}

.restaurantMenu__container--titre span::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99e2d0;
  margin-top: 0.2em;
  width: 2em;
}

.restaurantMenu__container--assiette {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 3.5em;
  padding-left: 1em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 0.8em;
  margin-bottom: 1em;
  /*
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
        */
}

.restaurantMenu__container--assiette:hover .restaurantMenu__container--assietteCheckBox {
  animation: 0.5s slideIn forwards;
}

.restaurantMenu__container--assiette:hover .restaurantMenu__container--assietteCheckBox i {
  animation: 0.5s logoWiggle forwards;
}

.restaurantMenu__container--assietteCheckBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: white;
  height: 100%;
  width: 0;
  margin-left: 1em;
  opacity: 0;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.restaurantMenu__container--assietteCheckBox i {
  font-size: large;
}

.restaurantMenu__container--assiette p,
.restaurantMenu__container--assiette h5 {
  margin-bottom: 5px;
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

.restaurantMenu__container--assietteDescription {
  flex: 1;
  padding-right: 1em;
  overflow: hidden;
}

.restaurantMenu__container--assietteDescription p,
.restaurantMenu__container--assietteDescription h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurantMenu__container--assiettePrix {
  display: flex;
  font-size: 0.8em;
  height: 100%;
  align-items: flex-end;
}

.slide1 {
  transition: 0.5s;
  animation: entrance 2s;
}

.slide2 {
  transition: 0.5s;
  animation: entrance 2.22s;
}

.slide3 {
  transition: 0.5s;
  animation: entrance 2.33s;
}

.slide4 {
  transition: 0.5s;
  animation: entrance 2.44s;
}

/************************************************************
************************************************************
************************************************************
Footer
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.pied {
  background-color: #353535;
  display: flex;
  flex-flow: wrap column;
  padding: 2em;
}

.pied--img {
  margin-bottom: 1em;
  width: 100px;
  filter: invert(100%);
}

.pied--liste {
  color: white;
  font-size: 0.7em;
  padding-top: 0.5em;
}

.pied--liste p {
  margin: 0;
}

.pied--liste a {
  text-decoration: none;
  color: white;
}

/**********************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
********

KEYFRAMES
*********************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*********/
@keyframes heartfull {
  0% {
    opacity: 0;
    color: #ff79da;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    color: #9356dc;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vanishes {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes entrance {
  from {
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes logoWiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    width: 4.5em;
  }
}

@keyframes enlightment {
  from {
    opacity: 1;
  }
  to {
    background-image: linear-gradient(to bottom right, rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.7));
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.4);
  }
}

/************************************************************
************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*****************************************************************
************************************************************
************************************************************************
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
@media all and (max-width: 768px) {
  /*
  .header {
    margin: 100em !important;
  }
  */
  .navExplore {
    background-color: #f6f6f6;
  }
  .accManual__pill {
    width: 80% !important;
  }
  .accManual__pill:active {
    background-color: #f5edff;
  }
  .btnViolet:active {
    animation: enlightment forwards ease-in;
  }
  .heartIcon {
    flex: 1;
    padding-right: 1em;
    padding-left: 0 !important;
  }
  .heartIcon:active .likedHeart {
    opacity: 1;
  }
  .heartIcon:active .unlikedHeart {
    opacity: 0;
  }
  .restaurantMenu {
    width: 90% !important;
  }
  .restaurantMenu__container--assiette p,
  .restaurantMenu__container--assiette h5 {
    font-size: 0.85em !important;
  }
  .restaurantMenu__container--assiette:active .restaurantMenu__container--assietteCheckBox {
    animation: 0.5s slideIn forwards;
  }
  .restaurantMenu__container--assiette:active .restaurantMenu__container--assietteCheckBox i {
    animation: 0.5s logoWiggle forwards;
  }
}
