html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

$colorprimaire: #9356dc;
$colorsecondaire: #ff79da;
$colortertiaire: #99e2d0;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.number {
  background-color: $colorprimaire;
}
