/************************************************************
************************************************************
************************************************************
Général
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 768px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
* {
  box-sizing: border-box;
}

$colorprimaire: #9356dc;
$colorsecondaire: #ff79da;
$colortertiaire: #99e2d0;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", sans-serif;
}
/************************************************************
************************************************************
************************************************************
Logo
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.titreRestaurant {
  font-family: "Shrikhand", sans-serif;
}
/************************************************************
************************************************************
************************************************************
Navbar & Manual
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.headWrap {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &--img {
    display: block;
    margin: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 0;
  }
}

.headLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1;
  &--fleche {
    margin-left: 1em;
    margin-right: -2em;
  }
  &--img {
    width: 100%;
    height: 20px;
  }
}
.navIndex {
  width: 100%;
}
.navLocalisation {
  background-color: #eaeaea;
  height: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: small;

  > i {
    padding-right: 1em;
    color: rgb(116, 116, 116);
  }
  &__search {
    border: none;
    background-color: #eaeaea;
    color: black;
    padding-left: 1em;
  }
}

.navExplore {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__container {
    width: 66%;
  }
}
.accManual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  font-size: 0.8em;
  &__pill {
    display: flex;
    padding-left: 2em;
    align-items: baseline;
    position: relative;
    background-color: #f6f6f6;
    width: 30%;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &__number {
      position: absolute;
      left: 0;
      top: 12px;
      text-align: center;
      width: 1.2em;
      height: 1.2em;
      color: white;
      background-color: $colorprimaire;
      border-radius: 50%;
    }
    > i {
      color: grey;
      padding-right: 1em;
    }
    > .fa-store {
      color: $colorprimaire;
    }
  }
}
.btnViolet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 2em;
  border-radius: 20px/20px;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    $colorsecondaire,
    $colorprimaire
  );
  p {
    display: inline;
    vertical-align: middle;
  }
}

.titre {
  margin-left: 1em;
  &__restaurant {
    margin-bottom: -2em;
  }
}
/************************************************************
************************************************************
************************************************************
Cards Restaurant
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/

.accRestaurant {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  &__card {
    width: 20em;
    margin: 1em;
    padding: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px/20px;
    position: relative;
    &__description {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-left: 1em;
      &__texte {
        h4 {
          margin-bottom: -10px;
        }
        p {
          margin-bottom: 10px;
        }
      }
      &__coeur {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        padding-right: 1em;
        font-size: 1.3em;
      }
      > i {
        color: black;
      }
    }
    &--img {
      display: block;
      margin: 0;
      width: 100%;
      height: 140px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
      padding: 0;
      &__newLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1em;
        left: 17em;
        background-color: $colortertiaire;
        color: #008766;
        height: 2.5em;
        width: 6em;
        font-size: small;
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
    }
  }
}
/************************************************************
************************************************************
************************************************************
Footer
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.pied {
  background-color: #353535;
  display: flex;
  flex-flow: wrap column;
  padding: 2em;
  &--img {
    width: 100px;
    filter: invert(100%);
  }
  &--liste {
    color: white;
    height: 55px;
  }
  .legal {
    margin-top: 1em;
  }
}
/************************************************************
************************************************************
************************************************************
Restaurant's pages
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/

/*Head*/
.restaurantHead {
  width: 90%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius: 2em;
  z-index: 1;
  margin-top: -3em;
  background-color: #f6f6f6;
}
.likedHeart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2em;
  padding-right: 1em;
  font-size: 1.3em;
}
/*Cards*/
.restaurantMain {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-left: -1em;
  margin-right: -1em;
}
.restaurantMenu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  &__container {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    &--titre {
      & span {
        border-bottom: solid 3px $colortertiaire;
      }
    }
    &--assiette {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin-bottom: 1em;
      background-color: white;
      width: 100%;
      border-radius: 1em;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      font-size: 0.9em;
      padding-left: 1em;
      padding-right: 1em;
      & span {
        font-size: 0.8em;
      }
      &Prix {
        align-self: flex-end;
      }
    }
  }
}
/************************************************************
************************************************************
************************************************************
************************************************************************
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
@media screen and (max-width: 768px) {
  .body {
    font-size: small;
  }
  .header {
    margin: 100em;
  }
  .accManual__pill {
    width: 80% !important;
  }
}
