/************************************************************
************************************************************
************************************************************
Général
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 768px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

$colorprimaire: #9356dc;
$colorsecondaire: #ff79da;
$colortertiaire: #99e2d0;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", sans-serif;
}
/************************************************************
************************************************************
************************************************************
Logo
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.titreRestaurant {
  font-family: "Shrikhand", sans-serif;
}
/************************************************************
************************************************************
************************************************************
Navbar & Manual
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.headWrap {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &--img {
    display: block;
    margin: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 0;
  }
}

.headLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1;
  &--fleche {
    margin-left: 1em;
  }
  &--img {
    width: 100%;
    height: 20px;
    &.restaurant {
      margin-right: 2em;
    }
  }
}
.navIndex {
  width: 100%;
}
.navLocalisation {
  background-color: #eaeaea;
  height: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: small;

  > i {
    padding-right: 1em;
    color: rgb(116, 116, 116);
  }
  &__search {
    border: none;
    background-color: #eaeaea;
    color: black;
    padding-left: 1em;
  }
}

.navExplore {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__container {
    width: 66%;
  }
}
.accManual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  font-size: 0.8em;
  &__pill {
    display: flex;
    padding-left: 2em;
    align-items: baseline;
    position: relative;
    background-color: #f6f6f6;
    width: 30%;
    border-radius: 15px;
    margin-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &__number {
      position: absolute;
      left: 0;
      top: 12px;
      text-align: center;
      width: 1.2em;
      height: 1.2em;
      color: white;
      background-color: $colorprimaire;
      border-radius: 50%;
    }
    > i {
      color: grey;
      padding-right: 1em;
    }
    > .fa-store {
      color: $colorprimaire;
    }
  }
}
.btnViolet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 2em;
  border-radius: 20px/20px;
  color: white;
  background-image: linear-gradient(
    to bottom right,
    $colorsecondaire,
    $colorprimaire
  );
  p {
    display: inline;
    vertical-align: middle;
  }
}

.titre {
  margin-left: 1em;
  &__restaurant {
    margin-bottom: -2em;
  }
}
/************************************************************
************************************************************
************************************************************
Cards Restaurant
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/

.accRestaurant {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  &__card {
    width: 20em;
    margin: 1em;
    padding: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px/20px;
    position: relative;
    transform: scale(1);
    transition: transform 0.4s;
    &:hover {
      transform: scale(1.02);
    }
    &__description {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-left: 1em;
      &__texte {
        h4 {
          margin-top: 10px;
          margin-bottom: -10px;
        }
        p {
          margin-bottom: 15px;
        }
      }
      &__coeur {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        padding-right: 1em;
        font-size: 1.3em;
      }
      > i {
        color: black;
      }
    }
    &--img {
      display: block;
      margin: 0;
      width: 100%;
      height: 140px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
      padding: 0;
      &__newLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1em;
        left: 17em;
        background-color: $colortertiaire;
        color: #008766;
        height: 2.5em;
        width: 6em;
        font-size: small;
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
    }
  }
}

/************************************************************
************************************************************
************************************************************
Footer
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
.pied {
  background-color: #353535;
  display: flex;
  flex-flow: wrap column;
  padding: 2em;
  &--img {
    margin-bottom: 1em;
    width: 100px;
    filter: invert(100%);
  }
  &--liste {
    color: white;
    & p {
      margin: 0;
    }
  }
}
/************************************************************
************************************************************
************************************************************
Restaurant's pages
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/

/*Head*/
.restaurantHead {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius: 2em;
  z-index: 1;
  background-color: #f6f6f6;
}
.likedHeart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 5em;
  flex: 0;
  font-size: 1.3em;
}
/*Cards*/
.restaurantMain {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -3em;
  position: relative;
}
.restaurantMenu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  &__container {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    &--titre {
      & span {
        display: inline-block;
        margin-bottom: -3px;
        &::after {
          content: "";
          display: block;
          border-bottom: 3px solid $colortertiaire;
          margin-top: 0.2em;
          width: 2em;
        }
      }
    }
    &--assiette {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 100%;
      padding-left: 1em;
      padding-right: 1em;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 0.8em;
      margin-bottom: 1em;
      &:hover .restaurantMenu__container--assietteCheckBox {
        animation: 4s logoWiggle;
        animation-fill-mode: forwards;
      }
      &CheckBox > i {
        background-color: $colortertiaire;
        color: white;
        height: 100%;
      }

      /*
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
        */
      p,
      h5 {
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: "Roboto", sans-serif;
        font-size: 0.9em;
      }
      &Description {
        flex: 1;
        padding-right: 1em;
        /*UN SEUL OU LES DEUX ? */
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &Prix {
        display: flex;
        font-size: 0.8em;
        height: 100%;
        align-self: flex-end;
      }
    }
  }
}
@keyframes logoWiggle {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/************************************************************
************************************************************
************************************************************
************************************************************************
*************************************************************************
***************************************************************************
***************************************************************************
***************************************************/
@media all and (max-width: 768px) {
  /*
  .header {
    margin: 100em !important;
  }
  */
  .accManual__pill {
    width: 80% !important;
  }
  .likedHeart {
    flex: 1;
    padding-right: 1em;
    padding-left: 0 !important;
  }
  .restaurantMenu {
    width: 90% !important;
    &__container {
      &--assiette {
        p,
        h5 {
          font-size: 0.85em !important;
        }
      }
    }
  }
}
